@media (min-width: 1024px){

  body {
    margin-top: 0px !important;
  }

  .cta-right.btn-grade{
    display: none;
  }

  .eso-logo{
      height: 0px!important;
      opacity: 0!important;
      margin-bottom: 0px!important;
  }

  #Navigation{
      margin-top: 62px !important;
  }

  .second-level ul{
        margin-bottom: 0px !important;
  }

  .triangle{
    top: 30px !important;
  }

  .collapsed-title{
    display: inline-block !important;
    opacity: 1 !important;
  }

  .extef-flags img{
    height: 10px;
  }

  .extef-breadcrumb .Last a {
    color: #fff !important;
  }

  .universal-nav-top .universal-nav .universal-nav-wrapper .second-level {
      padding-top: 0px !important;
  }

  .universal-nav-top .universal-nav .universal-nav-wrapper .second-level ul li {
      display: inline-block;
      position: relative;
      padding: 0 5px 0 0;
      height: 40px !important;
  }

  .extef-server{
    position: absolute;
    right: 0;
    top: 0;
  }

  .extef-server li{
    margin-right: 5px;
  }

  .circle:before {
    content: ' \25CF';
    font-size: 10px;
  }
  .circle.red{
    color : red;
  }
  .circle.green{
    color : green;
  }

  .Categories .PageControls.Top #PagerBefore ,.Categories .PageControls.Bottom{
    display: none;
  }

  .Categories .PageControls.Top {
    margin-bottom: 0px;
  }

  .DataTable thead td {
    padding-bottom: 0px !important;
  }

  .universal-nav-bottom .universal-footer footer {
    padding: 0 30px 5px 30px !important;
  }

  .universal-nav-bottom .universal-footer footer .footer-list.first-list {
    margin: 0px 0 0px 0 !important;
  }

  .universal-nav-bottom .universal-footer footer .copyright {
    margin: 10px 0 0 0 !important;
  }

  .lang-flag{
    display: none !important;
  }

  footer{
    text-align: center;
  }

  .universal-nav-bottom .universal-footer footer .footer-list.second-list {
    margin: 0px 0 -10px 0 !important;
  }

  .extef-update a{
    margin-left: 25px;
  }

}
